<!DOCTYPE html>
<html>
<head>
  <title>Itipu Terms & Conditions</title>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="container">

<div class="jumbotron text-center">
  <div class="container">
    <h1>Itipu Terms & Conditions</h1>
  </div>
</div>

<div class="well">

<h1>Terms of Service</h1>

The following document outlines the terms of use of Itipu. Before using Itipu you are required to read, understand, and agree to these terms.

<h2>Messenger Platforms</h2>

We develop Itipu to use a Bitcoin Wallet right in your Facebook Messenger, Skype or Telegram chat. We will develop more features in the future. At times things can go wrong and the service may be interrupted. Unlikely, but sometimes things can go really wrong. We are not liable if something goes really wrong.
<br/>

To use Itipu you should have a Facebook Messenger, Skype or Telegram account.
<br/>

Itipu is provided for free.
<br/>

You have to be over fourteen to use this bot.
<br/>

Please respect our Itipu name.
<br/>

We may stop providing services at any time. You can stop using our bot at any time as well. You may need to visit this page regularly to see if these terms are changed. New terms may be published on this page without any additional notice.
<br/>

<h2>Data</h2>

Your data is your data. We will not collect this data and hence will not sell it to anyone without your permission.
<br/>

People who use Itipu must have the consent of the people whose data (i.e. images, voice, text) this bot will process and we adhere to all applicable laws and regulations.
<br/>

This Terms of Service is effective as of Feb 1st, 2017.
<br/>

<h1>Privacy Statement</h1>

We develop Itipu to use a Bitcoin Wallet right in your Facebook Messenger, Skype or Telegram chat.
<br/>

We know that you care about how your data is used, and we take your privacy very seriously. By using Itipu you are accepting the practices outlined in this policy.
<br/>

We don't store any user specific data except the public username and everything really required to provide a Bitcoin Wallet (public key, encrypted private key). This is the only information we keep.
<br/>

Please contact us under ftreml@gmail.com to report abuse & requests to access or delete personal information.
<br/>

Itipu is enabled by api.ai. The api.ai is a set of web-services that enable intelligent services and connections using conversation channels you authorize. As a service provider, api.ai will transmit content you provide to our bot in order to enable the service. For more information about privacy policies please see their privacy statement here. In addition, your interactions with this bot are also subject to the conversational channel's applicable terms of use, privacy and data collection policies. To report abuse when using a bot that uses the api.ai, please visit the api.ai website at http://api.ai and use the "Contact us" link in the menu to contact api.ai.
<br/>

Privacy policy may change. Using Itipu is subject to Terms and Privacy policy.
<br/>

This Privacy Policy is effective as of Feb 1st, 2017.
<br/>

</div>

</div>

</body>
</html>