<!DOCTYPE html>
<html>
<head>
  <title>Itipu Imprint</title>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="container">

<div class="jumbotron text-center">
  <div class="container">
    <h1>Itipu Imprint</h1>
  </div>
</div>

<div class="well">

<h1>Impressum</h1>

Für den Inhalt verantwortlich:
<br/>
Treml Florian
<br/>
Agsbach 516
<br/>
2533 Klausen-Leopoldsdorf
<br/>
Österreich
<br/>
Rechtsform: Einzelunternehmen
<br/>
UID: ATU56545117
<br/>
Steuernummer: 16 203/7915
<br/>
Anwendbare Rechtsvorschriften http://www.ris2.bka.gv.at
<br/>
Behörde gem. ECG (E-Commerce Gesetz): Bezirkshauptmannschaft Baden
<br/>
ftreml@gmail.com
<br/>
<br/>

Kammerzugehörigkeit: Wirtschaftskammer Niederösterreich, Fachgruppe IT Dienstleistungen
<br/>
<br/>

Offenlegung gemäß §25 Mediengesetz
<br/>
Medieninhaber: Treml Florian
<br/>
Unternehmensgegestand: IT-Dienstleistungen
<br/>
Firmensitz: Klausen-Leopoldsdorf, Österreich
<br/>

</div>

</div>

</body>
</html>