<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
    <title>Guthaben aufladen</title>
    <link rel="stylesheet" type="text/css" href="/dist/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/font-awesome.min.css">
    <style>
      h1, p, div { text-align: center; }
      body       { background: #fffffe; }
    </style>
  </head>
  <body>
    <div class="container">
      <br/>
      <div class="well">
        <p class="lead">Bitcoin können über Bitcoin-Börsen gekauft werden, hier sind ein paar Beispiele:</p>

        <p><b><a href="https://localbitcoins.com">LocalBitcoins.com</a></b> Marktplatz mit Angeboten von Privatpersonen und professionellen Händlern</p>
        <p><b><a href="https://www.bitpanda.com/">BitPanda.com</a></b> Eine der größten Kryptowährungs-Börsen in Europa</p>
        <p><b><a href="https://www.kraken.com/">Kraken.com</a></b> Eine der größten Kryptowährungs-Börsen in Europa</p>
		
        <p>Nach dem Kauf der Bitcoin auf diesen Börsen das Guthaben bitte auf deine persönliche Itipu-Wallt überweisen <b><%= config.sender.address %></b></p>
      </div>
    </div>
  </body>
</html>